<h1>Settings</h1>

<table class="table-striped table-bordered table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>Setting Group</th>
    <th>Actions</th>
  </tr>
  <tbody>

  <% @admin_settings.each do |admin_setting| %>
    <tr>
      <td><%= admin_setting.name.humanize %></td>
      <td><%= admin_setting.value %></td>
      <td><%= admin_setting.group.humanize %></td>
      <td>
        <%= link_to 'Show', admin_setting, :class => 'btn btn-mini' %>
        | <%= link_to 'Edit', edit_admin_setting_path(admin_setting), :class => 'btn btn-mini' %>
        | <%= link_to 'Destroy', admin_setting, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br/>

