<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_setting.name %>
</p>

<p>
  <b>Value:</b>
  <%= @admin_setting.value %>
</p>

<p>
  <b>Group name:</b>
  <%= @admin_setting.group_name %>
</p>

<p>
  <b>Notes:</b>
  <%= @admin_setting.notes %>
</p>


<%= link_to 'Edit', edit_admin_setting_path(@admin_setting) %> |
<%= link_to 'Back', admin_settings_path %>
